@*<span class="logo" href=""></span>*@


<NavLink class="logo" href="/">
    <img class="logo" src="https://media.discordapp.net/attachments/849269270276734998/849851698964725810/image0.png?width=1001&height=701" href="index" alt="Logo" width="120" height="84">
</NavLink>



<div style="position:absolute; right:180px;">
    <NavLink href="login">
        <span class="login">Login</span>
    </NavLink>
</div>

<NavLink href="register">
    <span class="register">Register</span>
</NavLink>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
