@page "/files"
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;
@using BlazorChat;
@using System.IO;
@using BlazorInputFile;
@using KEKChat.Services;



<InputFile id="image-picker" OnChange="HandlePhotoSelcted" accept="image/*"/>
<br />
<label class="text-button" for="image-picker">
	<img src="@_photoURL" />
</label>
<br />
@code
{
	private string _photoURL;

	private async Task HandlePhotoSelcted(IFileListEntry[] files)
	{
		var sourceFile = files.FirstOrDefault();
		if (sourceFile != null)
		{
			//Convert size
			var imageFile = await sourceFile.ToImageFileAsync("image/jpeg", 800, 600);
			//Request URL
			MemoryStream bytes = await imageFile.ReadAllAsync();
			_photoURL = bytes.ToDataUrl("image/jpeg");
		}
	}

}