@page "/login"

@using Controllers
@inject NavigationManager NavManager

<h3>Login</h3>

<h3>
    Username
</h3>
<input type="text" @bind="_username" />
<br />
<br />
<h3>
    Password
</h3>
<input type="text" @bind="_password" />

@if (DatabaseController.CheckInformation(_username, _password) == false && clicked == true)
{
    <br />
    <p>The username or password was incorrect. Please check them again</p>
}

<button type="button" @onclick="() => CheckData()"></button>

@code {

    string _username;
    string _password;
    bool clicked = false;

    /// <summary>
    /// Creating a method to use the controller
    /// </summary>
    ///

    private void CheckData()
    {

        if (DatabaseController.CheckInformation(_username, _password) == true)
        {
            clicked = false;
            NavManager.NavigateTo("/chatroom");
        }
        else
        {
            clicked = true;
        }
    }

}
