@page "/login"

@using Controllers
@using KEKChat.Pages;
@inject NavigationManager NavManager

<h2>
    <u>
        <big class="text-muted">Login</big>
    </u>
</h2>

<h3>
    Username
</h3>
<input type="text" @bind="username" />
<br />
<br />
<h3>
    Password
</h3>
<input type="text" @bind="password" />


<button class="btn btn-outline-success" @onclick="() => CheckData()">Login</button>

@if (CheckData() == false && clicked == true)
{
    <br />
    <p>The username or password was incorrect. Please check them again</p>
}

@code {
    private string username;
    private string password;
    bool clicked = false;
    int i = 0;
    /// <summary>
    /// Creating a method to use the controller
    /// </summary>
    ///

    public static string Username { get; set; }
    
    private bool CheckData()
    {
        if (i < 3)
        {
            i++;
            return true;
        }
        else
        {
            if (DatabaseController.CheckInformation(username, password) == true && clicked == true)
            {
                Username = username;
                NavManager.NavigateTo("/chatroom");
                return true;
            }
            else
            {
                clicked = true;
                return false;
            }
        }
    }
}