@page "/register"
@using KEKChat.Controllers

<div class="loginPage">
    <div style="position:absolute; left:50px; top:20px;">
        <h2 class="textLogin">Register</h2>
    </div>

    <h1></h1>
    <h3></h3>

    <h3 class="textd">
        Username
    </h3>
    <input class="inputE" type="text" @bind="username" />
    <br />
    <br />
    <h3 class="textd">
        Password
    </h3>
    <input class="inputE" type="text" @bind="password" />
    <h3></h3>
    <h1>    </h1>

    <button class="btn btn-secondary btn-lg btn-block" @onclick="InputInfo">Register</button>
</div>
   

    @code {
        string username;
        string password;

        private void InputInfo()
        {
            DatabaseController.InputInformation(username, password);
        }
    }
